<section class="main-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-content">
                    <article id="photo1" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo2" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo3" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo4" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo5" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo6" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo7" class="carousel-content--cart"></article>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-content">
                    <article id="photo8" class="carousel-content--cart"></article>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <button onclick="mymusic()" class="play-button">
        <span id="pb"></span>
        <audio id="p1" src="/mp3/chica_paranormal.mp3"></audio>
    </button>
</section>