<main>
    <section class="main-carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-content">
                        <article id="photo1" class="carousel-content--cart"></article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content">
                        <article id="photo2" class="carousel-content--cart"></article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content">
                        <article id="photo3" class="carousel-content--cart"></article>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <button onclick="mymusic()" class="play-button">
            <span id="pb"></span>
            <audio id="p1" src="/mp3/tu.mp3"></audio>
        </button>
    </section>
    <section class="main-poems--container">
        <div class="poems-container--title">
            <h3>Un poco de lo mucho que siento por ti.</h3>
        </div>
        <article class="poem">
            <h2>Interacción</h2>
            <p>La representación física es el inicio para conocer el alma a fondo, la portada no tiene la última
                palabra del libro que estás a punto de conocer, pero muestra de manera breve una estructura que
                familiariza con nosotros y nos hace sentir cómodos, de ahí que podamos caracterizar el sentimiento
                de acuerdo a una especie. Sin embargo la lectura del alma a través de la inicial interacción física
                se ha visto modificada, los medios de comunicación nos han permitido sino conocer todo, al menos
                parte de lo que antes era dependiente a la presencia, y de cierta forma ser fracciones de alma que
                coinciden en un medio invisible. De esta forma nuestro escenario se convierte en la coincidencia más
                bonita, con cada palabra que sale del alma y me permite conocer un poco más de ella, sea el enojo,
                la alegría, la tristeza o la preocupación, pues tu eres todo y es todo de ti con lo que me quedo,
                sea lo banal, lo complejo, lo incómodo o lo ameno, pues compartirlas contigo es todo lo que deseo.
            </p>
            </div>
    </section>
</main>